name: Linter

on:
  pull_request:
    branches: [ "master" ]
  
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 7.0.x

      - name: Build
        run: dotnet build --configuration Release

      - name: Run .NET Code Analysis
        run: dotnet tool restore && dotnet roslynator analyze